# Visual Studio
.vs/
bin/
obj/

# Angular
node_modules/
dist/

# User files
*.user
*.suo

.vs/
**/.vs/

bin/
obj/

node_modules/
dist/# Terraform
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/.terraform/
*.tfstate
*.tfstate.*
